# Ігнорування конфігураційних файлів IDE
.idea
.vscode
.vs
.vscode/

.project

# Ігнорування системних файлів
.DS_Store
Thumbs.db

# Ігнорування тимчасових файлів
*.log
*.tmp
*.cache
*.bak
*.swp

# Ігнорування компільованих файлів (C++)
*.o
*.out
ki-231-Dank0-0-lab1
*.exe
#*.exe
main
