# Ігнорування конфігураційних файлів IDE
.idea
.vscode

# Ігнорування системних файлів
.DS_Store
.vs
.project


Thumbs.db

# Ігнорування тимчасових файлів
*.log
*.tmp
*.cache
*.bak
*.swp

# Ігнорування компільованих файлів (C++)
*.o
*.out
*.exe
